<%- include('../header.ejs') %>
    <h1>Closet</h1>
    <form>
        <button formaction="/users/logout" formmethod="POST">Log Out</button>
    </form>

    <!-- multiple categories  go here -->
    <div id="head" class="scroller">
    </div>
    <div id="top" class="scroller card-deck">
      <div class="card garment new">
        <a class="btn btn-success new-garment">New Top</a>
      </div>
    </div>
    <script src="/js/closet.js"></script>
<%- include('../footer.ejs') %>
