<%- include('../header.ejs') %>
    <h1>Outfits</h1>
    <form>
        <button formaction="/users/logout" formmethod="POST">Log Out</button>
    </form>
    <div id="outfits">

    </div>
    <div id="new" class="card">
      <a class="btn btn-success">Create</a>
    </div>
    <script src="/js/outfits.js"></script>
<%- include('../footer.ejs') %>
