<%- include('../header.ejs') %>
    <nav>Nav goes here</nav>
    <h1>You're Outfits</h1>
    <form>
        <button formaction="/users/logout" formmethod="POST">Log Out</button>
    </form>
    <div id="outfits">

    </div>
    <script src="/js/outfits.js"></script>
<%- include('../footer.ejs') %>
