<%- include('../header.ejs') %>
    <h1>Log in</h1>
    <form method="POST">
        <input name="username" />
        <input name="password" type="password" />
        <button formaction="/users/login" class="btn btn-primary">Login</button>
        <button formaction="/users/register" class="btn btn-secondary">Register</button>
    </form>
<%- include('../footer.ejs') %>
